In [1]:
from sqlalchemy import create_engine, text

In [2]:
import pandas as pd

In [3]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [5]:
engine = create_engine(connection_string)

In [6]:
query = '''
SELECT *
FROM scooters
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [7]:
with engine.connect() as connection:
    scooter_table = pd.read_sql(text(query), con = connection)

scooter_table.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-04 11:41:13,36.1197,-86.7520,Powered71197339-781f-5d45-b3e6-3fca37d64210,Powered,2.0,scooter,0.06,Jump
1,2019-07-04 11:41:13,36.1432,-86.8146,Poweredad51f4de-b237-5d38-a32f-5fa9bbe864a8,Powered,67.0,scooter,0.06,Jump
2,2019-07-04 11:41:13,36.1200,-86.7535,Powered25158e6b-c6de-55ff-80dd-4aac47e1f207,Powered,1.0,scooter,0.06,Jump
3,2019-07-04 11:41:13,36.1199,-86.7534,Powered62b37972-a226-557b-a5ee-9381b1e518b1,Powered,0.0,scooter,0.06,Jump
4,2019-07-04 11:41:13,36.1200,-86.7536,Powereddabfa895-6c49-5088-ade1-f25afe722047,Powered,0.0,scooter,0.06,Jump

In [8]:
query2 = '''
SELECT *
FROM trips
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query2))

In [9]:
with engine.connect() as connection:
    trips_table = pd.read_sql(text(query2), con = connection)

trips_table.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-02 00:50:34.773,Lime,LIM165,PoweredJRZA5EE3CAOS4,27.100000,2772.2760,2019-06-01,23:56:15,2019-06-02,00:23:21,36.157486,-86.781244,36.160223,-86.778741,"[(36.15749, -86.78124), (36.15776, -86.78135),...",2019-06-03 07:33:47.347
1,2019-06-02 00:50:34.777,Lime,LIM175,PoweredM7VPMMXWHSKJN,32.250000,10793.8320,2019-06-01,23:53:21,2019-06-02,00:25:36,36.158860,-86.775480,36.158222,-86.772969,"[(36.15886, -86.77548), (36.158939999999994, -...",2019-06-03 07:33:47.787
2,2019-06-02 00:50:34.777,Lime,LIM178,PoweredGPODMEJP3DDOR,7.800000,4947.4464,2019-06-02,00:17:57,2019-06-02,00:25:45,36.142621,-86.792098,36.130146,-86.788941,"[(36.14208, -86.79221), (36.14169, -86.7922799...",2019-06-03 07:33:47.900
3,2019-06-02 00:50:34.777,Lime,LIM173,PoweredUWPZODDQ4NYUB,3.383333,849.7272,2019-06-02,00:21:54,2019-06-02,00:25:17,36.159460,-86.774470,36.157224,-86.774194,"[(36.15923, -86.77561), (36.1582, -86.77514), ...",2019-06-03 07:33:47.703
4,2019-06-02 00:50:34.777,Lime,LIM171,PoweredJUPYKIC36OSG6,14.783333,10088.4600,2019-06-02,00:10:12,2019-06-02,00:24:59,36.160040,-86.790528,36.177921,-86.784301,"[(36.16004, -86.79053), (36.16075, -86.79098),...",2019-06-03 07:33:47.630

In [10]:
query3 = '''
select count(*) as total_number_of_null
from scooters
where chargelevel IS NULL 
'''

with engine.connect() as connection:
    result = connection.execute(text(query3))
    
with engine.connect() as connection:
    nulls_within_chargelevel = pd.read_sql(text(query3), con = connection)

nulls_within_chargelevel

   total_number_of_null
0                   770

In [11]:
query4 = '''
select 
	min(pubdatetime) as first_date,
	max(pubdatetime) as last_date
from scooters
'''

with engine.connect() as connection:
    result = connection.execute(text(query4))
    
with engine.connect() as connection:
    daterange_for_pubdatetime = pd.read_sql(text(query4), con = connection)

daterange_for_pubdatetime

               first_date           last_date
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [15]:
scooter_table['pubdatetime'] = pd.to_datetime(scooter_table['pubdatetime'])

In [16]:
scooter_table.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-04 11:41:13,36.1197,-86.7520,Powered71197339-781f-5d45-b3e6-3fca37d64210,Powered,2.0,scooter,0.06,Jump
1,2019-07-04 11:41:13,36.1432,-86.8146,Poweredad51f4de-b237-5d38-a32f-5fa9bbe864a8,Powered,67.0,scooter,0.06,Jump
2,2019-07-04 11:41:13,36.1200,-86.7535,Powered25158e6b-c6de-55ff-80dd-4aac47e1f207,Powered,1.0,scooter,0.06,Jump
3,2019-07-04 11:41:13,36.1199,-86.7534,Powered62b37972-a226-557b-a5ee-9381b1e518b1,Powered,0.0,scooter,0.06,Jump
4,2019-07-04 11:41:13,36.1200,-86.7536,Powereddabfa895-6c49-5088-ade1-f25afe722047,Powered,0.0,scooter,0.06,Jump

In [18]:
trips_table['pubtimestamp'] = pd.to_datetime(trips_table['pubtimestamp'])

In [19]:
trips_table.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-02 00:50:34.773,Lime,LIM165,PoweredJRZA5EE3CAOS4,27.100000,2772.2760,2019-06-01,23:56:15,2019-06-02,00:23:21,36.157486,-86.781244,36.160223,-86.778741,"[(36.15749, -86.78124), (36.15776, -86.78135),...",2019-06-03 07:33:47.347
1,2019-06-02 00:50:34.777,Lime,LIM175,PoweredM7VPMMXWHSKJN,32.250000,10793.8320,2019-06-01,23:53:21,2019-06-02,00:25:36,36.158860,-86.775480,36.158222,-86.772969,"[(36.15886, -86.77548), (36.158939999999994, -...",2019-06-03 07:33:47.787
2,2019-06-02 00:50:34.777,Lime,LIM178,PoweredGPODMEJP3DDOR,7.800000,4947.4464,2019-06-02,00:17:57,2019-06-02,00:25:45,36.142621,-86.792098,36.130146,-86.788941,"[(36.14208, -86.79221), (36.14169, -86.7922799...",2019-06-03 07:33:47.900
3,2019-06-02 00:50:34.777,Lime,LIM173,PoweredUWPZODDQ4NYUB,3.383333,849.7272,2019-06-02,00:21:54,2019-06-02,00:25:17,36.159460,-86.774470,36.157224,-86.774194,"[(36.15923, -86.77561), (36.1582, -86.77514), ...",2019-06-03 07:33:47.703
4,2019-06-02 00:50:34.777,Lime,LIM171,PoweredJUPYKIC36OSG6,14.783333,10088.4600,2019-06-02,00:10:12,2019-06-02,00:24:59,36.160040,-86.790528,36.177921,-86.784301,"[(36.16004, -86.79053), (36.16075, -86.79098),...",2019-06-03 07:33:47.630

In [21]:
(trips_table
 .assign(month = trips_table['pubtimestamp'].dt.month_name())
 .month
 .value_counts(sort = False)
)

month
June    10
Name: count, dtype: int64

In [22]:
(scooter_table
 .assign(month = scooter_table['pubdatetime'].dt.month_name())
 .month
 .value_counts(sort = False)
)

month
July    10
Name: count, dtype: int64

In [28]:
trips_grouped = (trips_table
                     .assign(weekday = trips_table['pubtimestamp'].dt.day_name())
#                      .query('weekday != "Saturday" and weekday != "Sunday"')   # remove the weekends
                     .groupby(pd.Grouper(key = 'pubtimestamp',
                                         freq = '1h',
                                         origin = 'epoch'
                                        ))
 ['startdate']
 .count()
 .reset_index()       
)

In [30]:
trips_grouped.head(50)

          pubtimestamp  startdate
0  2019-06-02 00:00:00          9
1  2019-06-02 01:00:00          0
2  2019-06-02 02:00:00          0
3  2019-06-02 03:00:00          0
4  2019-06-02 04:00:00          0
5  2019-06-02 05:00:00          0
6  2019-06-02 06:00:00          0
7  2019-06-02 07:00:00          0
8  2019-06-02 08:00:00          0
9  2019-06-02 09:00:00          0
10 2019-06-02 10:00:00          0
11 2019-06-02 11:00:00          0
12 2019-06-02 12:00:00          0
13 2019-06-02 13:00:00          0
14 2019-06-02 14:00:00          1