In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [7]:
database_name = 'Scooters'    # Fill this in with your lahman database name ##baseball

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [8]:
connection_string

'postgresql://postgres:postgres@localhost:5432/Scooters'

In [9]:
engine = create_engine(connection_string)

Now, we need to create an engine and use it to connect.

In [10]:
engine = create_engine(connection_string)

Now, we can create our query and pass it into the `.query()` method.

In [11]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

You can then fetch the results as tuples using either `fetchone` or `fetchall`:

In [12]:
import pandas as pd

In [13]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-08 11:57:13,36.1528,-86.7972,Powered41d860a0-f030-52ae-8084-fc222c388b00,Powered,88.0,scooter,0.06,Jump
1,2019-06-08 11:57:13,36.1197,-86.7537,Powered24c2f788-4809-57c4-92ca-fae550f7828e,Powered,3.0,scooter,0.06,Jump
2,2019-06-08 11:57:13,36.1518,-86.7984,Powered3cd33a5b-9c3b-527e-9ddb-1f806f368a81,Powered,84.0,scooter,0.06,Jump
3,2019-06-08 11:57:13,36.1202,-86.7532,Poweredcb2a50d2-f412-5baf-9bf0-624fd8ff1f10,Powered,99.0,scooter,0.06,Jump
4,2019-06-08 11:57:13,36.1199,-86.7533,Poweredf4e90a0e-ccb6-5715-b383-2396d749febd,Powered,1.0,scooter,0.06,Jump

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python