In [1]:
from sqlalchemy import create_engine, text

In [6]:
import pandas as pd

In [7]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [8]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [9]:
engine = create_engine(connection_string)

In [11]:
query = '''
SELECT *
FROM scooters
LIMIT 10;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

In [12]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-18 23:39:14.357,36.122628,-86.775443,Powered280772,Powered,59.0,scooter,0.15,Lyft
1,2019-06-18 23:39:14.437,36.122793,-86.775303,Powered606754,Powered,78.0,scooter,0.15,Lyft
2,2019-06-18 23:39:14.460,36.122824,-86.775831,Powered449699,Powered,90.0,scooter,0.15,Lyft
3,2019-06-18 23:39:14.467,36.122790,-86.775228,Powered441733,Powered,72.0,scooter,0.15,Lyft
4,2019-06-18 23:39:14.670,36.154093,-86.792878,Powered314930,Powered,98.0,scooter,0.15,Lyft