In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [2]:
database_name = 'lahman'    # Fill this in with your lahman database name ##baseball

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [3]:
engine = create_engine(connection_string)

In [4]:
engine

Engine(postgresql://postgres:***@localhost:5432/lahman)

Now, we can create our query and pass it into the `.query()` method.

In [5]:
query = '''
SELECT *
FROM people
LIMIT 100;
'''

with engine.connect() as connection:
    result = connection.execute(text(query))

You can then fetch the results as tuples using either `fetchone` or `fetchall`:

In [6]:
result.fetchone()

('aardsda01', 1981, 12, 27, 'USA', 'CO', 'Denver', None, None, None, None, None, None, 'David', 'Aardsma', 'David Allan', 215, 75.0, 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01')

In [7]:
result.fetchall()

[('aaronha01', 1934, 2, 5, 'USA', 'AL', 'Mobile', None, None, None, None, None, None, 'Hank', 'Aaron', 'Henry Louis', 180, 72.0, 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01'),
 ('aaronto01', 1939, 8, 5, 'USA', 'AL', 'Mobile', 1984, 8, 16, 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', 190, 75.0, 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01'),
 ('aasedo01', 1954, 9, 8, 'USA', 'CA', 'Orange', None, None, None, None, None, None, 'Don', 'Aase', 'Donald William', 190, 75.0, 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01'),
 ('abadan01', 1972, 8, 25, 'USA', 'FL', 'Palm Beach', None, None, None, None, None, None, 'Andy', 'Abad', 'Fausto Andres', 184, 73.0, 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01'),
 ('abadfe01', 1985, 12, 17, 'D.R.', 'La Romana', 'La Romana', None, None, None, None, None, None, 'Fernando', 'Abad', 'Fernando Antonio', 220, 73.0, 'L', 'L', '2010-07-28', '2016-09-25', 'abadf001', 'abadfe01'),
 ('abadijo01', 1850, 11, 4, 'USA', 'PA', 'Philadelphia', 1905, 5, 17, 'USA', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', 192, 72.0, 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01'),
 ('abbated01', 1877, 4, 15, 'USA', 'PA', 'Latrobe', 1957, 1, 6, 'USA', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', 170, 71.0, 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01'),
 ('abbeybe01', 1869, 11, 11, 'USA', 'VT', 'Essex', 1962, 6, 11, 'USA', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', 175, 71.0, 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01'),
 ('abbeych01', 1866, 10, 14, 'USA', 'NE', 'Falls City', 1926, 4, 27, 'USA', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', 169, 68.0, 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01'),
 ('abbotda01', 1862, 3, 16, 'USA', 'OH', 'Portage', 1930, 2, 13, 'USA', 'MI', 'Ottawa Lake', 'Dan', 'Abbott', 'Leander Franklin', 190, 71.0, 'R', 'R', '1890-04-19', '1890-05-23', 'abbod101', 'abbotda01'),
 ('abbotfr01', 1874, 10, 22, 'USA', 'OH', 'Versailles', 1935, 6, 11, 'USA', 'CA', 'Los Angeles', 'Fred', 'Abbott', 'Harry Frederick', 180, 70.0, 'R', 'R', '1903-04-25', '1905-09-20', 'abbof101', 'abbotfr01'),
 ('abbotgl01', 1951, 2, 16, 'USA', 'AR', 'Little Rock', None, None, None, None, None, None, 'Glenn', 'Abbott', 'William Glenn', 200, 78.0, 'R', 'R', '1973-07-29', '1984-08-08', 'abbog001', 'abbotgl01'),
 ('abbotje01', 1972, 8, 17, 'USA', 'GA', 'Atlanta', None, None, None, None, None, None, 'Jeff', 'Abbott', 'Jeffrey William', 190, 74.0, 'R', 'L', '1997-06-10', '2001-09-29', 'abboj002', 'abbotje01'),
 ('abbotji01', 1967, 9, 19, 'USA', 'MI', 'Flint', None, None, None, None, None, None, 'Jim', 'Abbott', 'James Anthony', 200, 75.0, 'L', 'L', '1989-04-08', '1999-07-21', 'abboj001', 'abbotji01'),
 ('abbotku01', 1969, 6, 2, 'USA', 'OH', 'Zanesville', None, None, None, None, None, None, 'Kurt', 'Abbott', 'Kurt Thomas', 180, 71.0, 'R', 'R', '1993-09-07', '2001-04-13', 'abbok002', 'abbotku01'),
 ('abbotky01', 1968, 2, 18, 'USA', 'MA', 'Newburyport', None, None, None, None, None, None, 'Kyle', 'Abbott', 'Lawrence Kyle', 200, 76.0, 'L', 'L', '1991-09-10', '1996-08-24', 'abbok001', 'abbotky01'),
 ('abbotod01', 1886, 9, 5, 'USA', 'PA', 'New Eagle', 1933, 4, 13, 'USA', 'DC', 'Washington', 'Ody', 'Abbott', 'Ody Cleon', 165, 69.0, 'L', 'R', '1910-09-10', '1910-10-15', 'abboo101', 'abbotod01'),
 ('abbotpa01', 1967, 9, 15, 'USA', 'CA', 'Van Nuys', None, None, None, None, None, None, 'Paul', 'Abbott', 'Paul David', 185, 75.0, 'R', 'R', '1990-08-21', '2004-08-07', 'abbop001', 'abbotpa01'),
 ('aberal01', 1927, 7, 31, 'USA', 'OH', 'Cleveland', 1993, 5, 20, 'USA', 'OH', 'Garfield Heights', 'Al', 'Aber', 'Albert Julius', 195, 74.0, 'L', 'L', '1950-09-15', '1957-09-11', 'abera101', 'aberal01'),
 ('abercda01', 1850, 1, 2, 'USA', 'OK', 'Fort Towson', 1939, 11, 11, 'USA', 'PA', 'Philadelphia', 'Frank', 'Abercrombie', 'Francis Patterson', None, None, None, None, '1871-10-21', '1871-10-21', 'aberd101', 'abercda01'),
 ('abercre01', 1980, 7, 15, 'USA', 'GA', 'Columbus', None, None, None, None, None, None, 'Reggie', 'Abercrombie', 'Reginald Damascus', 215, 75.0, 'R', 'R', '2006-04-04', '2008-09-28', 'aberr001', 'abercre01'),
 ('abernbi01', 1929, 1, 30, 'USA', 'CA', 'Torrance', 2006, 2, 19, 'USA', 'CA', 'Yucaipa', 'Bill', 'Abernathie', 'William Edward', 190, 70.0, 'R', 'R', '1952-09-27', '1952-09-27', 'aberb101', 'abernbi01'),
 ('abernbr01', 1977, 9, 23, 'USA', 'GA', 'Atlanta', None, None, None, None, None, None, 'Brent', 'Abernathy', 'Michael Brent', 185, 73.0, 'R', 'R', '2001-06-25', '2005-09-29', 'aberb001', 'abernbr01'),
 ('abernte01', 1921, 10, 30, 'USA', 'NC', 'Bynum', 2001, 11, 16, 'USA', 'NC', 'Charlotte', 'Ted', 'Abernathy', 'Talmadge Lafayette', 210, 74.0, 'R', 'L', '1942-09-19', '1944-04-29', 'abert102', 'abernte01'),
 ('abernte02', 1933, 3, 6, 'USA', 'NC', 'Stanley', 2004, 12, 16, 'USA', 'NC', 'Gastonia', 'Ted', 'Abernathy', 'Theodore Wade', 215, 76.0, 'R', 'R', '1955-04-13', '1972-09-30', 'abert101', 'abernte02'),
 ('abernwo01', 1915, 2, 1, 'USA', 'NC', 'Forest City', 1994, 12, 5, 'USA', 'KY', 'Louisville', 'Woody', 'Abernathy', 'Virgil Woodrow', 170, 72.0, 'L', 'L', '1946-07-28', '1947-04-17', 'aberw101', 'abernwo01'),
 ('aberscl01', 1921, 8, 28, 'USA', 'IL', 'Chicago', 1973, 6, 23, 'USA', 'CA', 'Vallejo', 'Cliff', 'Aberson', 'Clifford Alexander', 200, 72.0, 'R', 'R', '1947-07-18', '1949-05-09', 'aberc101', 'aberscl01'),
 ('ablesha01', 1883, 10, 4, 'USA', 'TX', 'Terrell', 1951, 2, 8, 'USA', 'TX', 'San Antonio', 'Harry', 'Ables', 'Harry Terrell', 200, 74.0, 'R', 'L', '1905-09-04', '1911-05-05', 'ableh101', 'ablesha01'),
 ('abnersh01', 1966, 6, 17, 'USA', 'OH', 'Hamilton', None, None, None, None, None, None, 'Shawn', 'Abner', 'Shawn Wesley', 190, 73.0, 'R', 'R', '1987-09-08', '1992-10-03', 'abnes001', 'abnersh01'),
 ('abramca01', 1924, 3, 2, 'USA', 'PA', 'Philadelphia', 1997, 2, 25, 'USA', 'FL', 'Fort Lauderdale', 'Cal', 'Abrams', 'Calvin Ross', 185, 72.0, 'L', 'L', '1949-04-19', '1956-05-09', 'abrac101', 'abramca01'),
 ('abramge01', 1899, 11, 9, 'USA', 'WA', 'Seattle', 1986, 12, 5, 'USA', 'FL', 'Clearwater', 'George', 'Abrams', 'George Allen', 170, 69.0, 'R', 'R', '1923-04-19', '1923-05-04', 'abrag101', 'abramge01'),
 ('abregjo01', 1962, 7, 4, 'USA', 'TX', 'Corpus Christi', None, None, None, None, None, None, 'Johnny', 'Abrego', 'Johnny Ray', 185, 72.0, 'R', 'R', '1985-09-04', '1985-10-03', 'abrej001', 'abregjo01'),
 ('abreubo01', 1974, 3, 11, 'Venezuela', 'Aragua', 'Maracay', None, None, None, None, None, None, 'Bobby', 'Abreu', 'Bob Kelly', 220, 72.0, 'L', 'R', '1996-09-01', '2014-09-28', 'abreb001', 'abreubo01'),
 ('abreujo01', 1913, 5, 24, 'USA', 'CA', 'Oakland', 1993, 3, 17, 'USA', 'CA', 'Hayward', 'Joe', 'Abreu', 'Joseph Lawrence', 160, 68.0, 'R', 'R', '1942-04-23', '1942-07-11', 'abrej101', 'abreujo01'),
 ('abreujo02', 1987, 1, 29, 'Cuba', 'Cienfuegos', 'Cienfuegos', None, None, None, None, None, None, 'Jose', 'Abreu', 'Jose Dariel', 255, 75.0, 'R', 'R', '2014-03-31', '2016-10-02', 'abrej003', 'abreujo02'),
 ('abreuju01', 1985, 4, 8, 'D.R.', 'Duarte', 'San Francisco de Macoris', None, None, None, None, None, None, 'Juan', 'Abreu', 'Juan de Dios', 185, 72.0, 'R', 'R', '2011-08-29', '2011-09-27', 'abrej002', 'abreuju01'),
 ('abreuto01', 1984, 11, 13, 'D.R.', 'Puerto Plata', 'Puerto Plata', None, None, None, None, None, None, 'Tony', 'Abreu', 'Etanislao Toni', 200, 70.0, 'B', 'R', '2007-05-22', '2014-07-28', 'abret001', 'abreuto01'),
 ('abreuwi01', 1977, 4, 5, 'D.R.', 'Sanchez Ramirez', 'Cotui', None, None, None, None, None, None, 'Winston', 'Abreu', 'Winston Leonardo', 170, 74.0, 'R', 'R', '2006-08-06', '2009-07-25', 'abrew001', 'abreuwi01'),
 ('abstebi01', 1883, 2, 2, 'USA', 'MO', 'St. Louis', 1940, 4, 8, 'USA', 'MO', 'St. Louis', 'Bill', 'Abstein', 'William Henry', 185, 72.0, 'R', 'R', '1906-09-25', '1910-06-02', 'abstb101', 'abstebi01'),
 ('accarje01', 1981, 12, 18, 'USA', 'AZ', 'Phoenix', None, None, None, None, None, None, 'Jeremy', 'Accardo', 'Jeremiah Lee', 195, 72.0, 'R', 'R', '2005-05-04', '2012-09-27', 'accaj001', 'accarje01'),
 ('aceveal01', 1982, 12, 8, 'Mexico', 'Sonora', 'San Luis Rio Colorado', None, None, None, None, None, None, 'Alfredo', 'Aceves', 'Alfredo', 205, 74.0, 'R', 'R', '2008-08-31', '2014-06-02', 'aceva001', 'aceveal01'),
 ('acevejo01', 1977, 12, 18, 'D.R.', 'Distrito Nacional', 'Santo Domingo', None, None, None, None, None, None, 'Jose', 'Acevedo', 'Jose Omar', 185, 72.0, 'R', 'R', '2001-06-19', '2005-09-29', 'acevj002', 'acevejo01'),
 ('aceveju01', 1970, 5, 5, 'Mexico', 'Chihuahua', 'Ciudad Juarez', None, None, None, None, None, None, 'Juan', 'Acevedo', 'Juan Carlos', 245, 74.0, 'R', 'R', '1995-04-30', '2003-08-05', 'acevj001', 'aceveju01'),
 ('achteaj01', 1988, 8, 27, 'USA', 'OH', 'Toledo', None, None, None, None, None, None, 'A. J.', 'Achter', 'Adam Joseph', 215, 77.0, 'R', 'R', '2014-09-03', '2016-10-01', 'achta001', 'achteaj01'),
 ('ackerji01', 1958, 9, 24, 'USA', 'TX', 'Freer', None, None, None, None, None, None, 'Jim', 'Acker', 'James Justin', 210, 74.0, 'R', 'R', '1983-04-07', '1992-06-14', 'ackej001', 'ackerji01'),
 ('ackerto01', 1930, 3, 7, 'USA', 'NJ', 'Paterson', None, None, None, None, None, None, 'Tom', 'Acker', 'Thomas James', 215, 76.0, 'R', 'R', '1956-04-20', '1959-09-20', 'acket101', 'ackerto01'),
 ('ackledu01', 1988, 2, 26, 'USA', 'NC', 'Winston-Salem', None, None, None, None, None, None, 'Dustin', 'Ackley', 'Dustin Michael', 205, 73.0, 'L', 'R', '2011-06-17', '2016-05-29', 'ackld001', 'ackledu01'),
 ('acklefr01', 1937, 4, 10, 'USA', 'WI', 'Hayward', 2002, 5, 22, 'USA', 'MN', 'Duluth', 'Fritz', 'Ackley', 'Florian Frederick', 202, 73.0, 'L', 'R', '1963-09-21', '1964-05-09', 'acklf101', 'acklefr01'),
 ('acostcy01', 1946, 11, 22, 'Mexico', 'Sinaloa', 'El Sabino', None, None, None, None, None, None, 'Cy', 'Acosta', 'Cecilio', 165, 70.0, 'R', 'R', '1972-06-04', '1975-05-05', 'acosc101', 'acostcy01'),
 ('acosted01', 1944, 3, 9, 'Panama', 'Chiriqui', 'Boquete', None, None, None, None, None, None, 'Ed', 'Acosta', 'Eduardo Elixbet', 215, 77.0, 'B', 'R', '1970-09-07', '1972-10-04', 'acose101', 'acosted01'),
 ('acostjo01', 1891, 3, 4, 'Cuba', 'La Habana', 'La Habana', 1977, 11, 16, 'Cuba', 'La Habana', 'La Habana', 'Jose', 'Acosta', 'Jose', 134, 66.0, 'R', 'R', '1920-07-28', '1922-05-12', 'acosj101', 'acostjo01'),
 ('acostma01', 1981, 5, 1, 'Panama', 'Colon', 'Colon', None, None, None, None, None, None, 'Manny', 'Acosta', 'Manuel Alcides', 215, 76.0, 'R', 'R', '2007-08-12', '2012-10-03', 'acosm001', 'acostma01'),
 ('acostme01', 1896, 5, 19, 'Cuba', None, 'Bauta', 1963, 11, 17, 'USA', 'FL', 'Miami', 'Merito', 'Acosta', 'Baldomero Pedro', 140, 67.0, 'L', 'L', '1913-06-15', '1918-09-02', 'acosm101', 'acostme01'),
 ('acrema01', 1968, 9, 16, 'USA', 'CA', 'Concord', None, None, None, None, None, None, 'Mark', 'Acre', 'Mark Robert', 235, 80.0, 'R', 'R', '1994-05-13', '1997-05-10', 'acrem001', 'acrema01'),
 ('actama99', 1969, 1, 11, 'D.R.', 'San Pedro de Macoris', 'San Pedro de Macoris', None, None, None, None, None, None, 'Manny', 'Acta', 'Manuel Elias', 172, 74.0, 'R', 'R', None, None, 'actam801', 'actama99'),
 ('adairbi99', 1913, 2, 10, 'USA', 'AL', 'Mobile', 2002, 6, 17, 'USA', 'AL', 'Bay Minette', 'Bill', 'Adair', 'Marion Danne', 168, 72.0, 'R', 'R', None, None, 'adaib801', 'adairbi99'),
 ('adairje01', 1936, 12, 17, 'USA', 'OK', 'Sand Springs', 1987, 5, 31, 'USA', 'OK', 'Tulsa', 'Jerry', 'Adair', 'Kenneth Jerry', 175, 72.0, 'R', 'R', '1958-09-02', '1970-05-03', 'adaij101', 'adairje01'),
 ('adairji01', 1907, 1, 25, 'USA', 'TX', 'Waxahachie', 1982, 12, 9, 'USA', 'TX', 'Farmers Branch', 'Jimmy', 'Adair', 'James Audrey', 154, 70.0, 'R', 'R', '1931-08-24', '1931-09-07', 'adaij102', 'adairji01'),
 ('adamecr01', 1991, 7, 26, 'D.R.', 'Distrito Nacional', 'Santo Domingo', None, None, None, None, None, None, 'Cristhian', 'Adames', 'Cristhian Pascual', 185, 72.0, 'B', 'R', '2014-07-29', '2016-10-02', 'adamc001', 'adamecr01'),
 ('adamsac01', 1910, 3, 2, 'USA', 'CA', 'Willows', 2006, 2, 26, 'USA', 'GA', 'Albany', 'Ace', 'Adams', 'Ace Townsend', 182, 70.0, 'R', 'R', '1941-04-15', '1946-04-24', 'adama101', 'adamsac01'),
 ('adamsau01', 1986, 8, 19, 'USA', 'AL', 'Montgomery', None, None, None, None, None, None, 'Austin', 'Adams', 'Austin David', 200, 71.0, 'R', 'R', '2014-07-12', '2016-09-27', 'adama001', 'adamsau01'),
 ('adamsba01', 1882, 5, 18, 'USA', 'IN', 'Tipton', 1968, 7, 27, 'USA', 'MD', 'Silver Spring', 'Babe', 'Adams', 'Charles Benjamin', 185, 71.0, 'L', 'R', '1906-04-18', '1926-08-11', 'adamb104', 'adamsba01'),
 ('adamsbe01', 1891, 6, 21, 'USA', 'TX', 'Wharton', 1940, 6, 24, 'USA', 'CA', 'Los Angeles', 'Bert', 'Adams', 'John Bertram', 185, 73.0, 'B', 'R', '1910-08-30', '1919-09-28', 'adamb106', 'adamsbe01'),
 ('adamsbo01', 1901, 7, 24, 'USA', 'MA', 'Holyoke', 1996, 10, 17, 'USA', 'PA', 'Lemoyne', 'Bob', 'Adams', 'Robert Burnette', 168, 71.0, 'R', 'R', '1925-09-22', '1925-09-23', 'adamb107', 'adamsbo01'),
 ('adamsbo02', 1907, 1, 20, 'USA', 'AL', 'Birmingham', 1970, 3, 6, 'USA', 'FL', 'Jacksonville', 'Bob', 'Adams', 'Robert Andrew', 165, 72.0, 'R', 'R', '1931-09-27', '1932-09-17', 'adamb102', 'adamsbo02'),
 ('adamsbo03', 1921, 12, 14, 'USA', 'CA', 'Tuolumne', 1997, 2, 13, 'USA', 'WA', 'Gig Harbor', 'Bobby', 'Adams', 'Robert Henry', 160, 70.0, 'R', 'R', '1946-04-16', '1959-04-22', 'adamb103', 'adamsbo03'),
 ('adamsbo04', 1952, 1, 6, 'USA', 'PA', 'Pittsburgh', None, None, None, None, None, None, 'Bob', 'Adams', 'Robert Melvin', 200, 74.0, 'R', 'R', '1977-07-10', '1977-09-29', 'adamb105', 'adamsbo04'),
 ('adamsbu01', 1915, 6, 24, 'USA', 'CO', 'Trinidad', 1990, 9, 1, 'USA', 'CA', 'Rancho Mirage', 'Buster', 'Adams', 'Elvin Clark', 180, 72.0, 'R', 'R', '1939-04-27', '1947-09-21', 'adamb101', 'adamsbu01'),
 ('adamsda01', 1887, 6, 19, 'USA', 'MO', 'St. Louis', 1964, 10, 6, 'USA', 'MO', 'St. Louis', 'Dan', 'Adams', 'Daniel Leslie', 165, 71.0, 'R', 'R', '1914-05-22', '1915-09-26', 'adamd103', 'adamsda01'),
 ('adamsda02', 1987, 5, 15, 'USA', 'FL', 'Margate', None, None, None, None, None, None, 'David', 'Adams', 'David Lee', 205, 74.0, 'R', 'R', '2013-05-15', '2013-09-29', 'adamd001', 'adamsda02'),
 ('adamsdi01', 1920, 4, 8, 'USA', 'CA', 'Tuolumne', 2016, 9, 14, 'USA', 'CA', 'Fallbrook', 'Dick', 'Adams', 'Richard Leroy', 185, 72.0, 'R', 'L', '1947-05-20', '1947-09-28', 'adamd102', 'adamsdi01'),
 ('adamsdo01', 1943, 1, 27, 'USA', 'WI', 'Blue River', None, None, None, None, None, None, 'Doug', 'Adams', 'Harold Douglas', 185, 75.0, 'L', 'R', '1969-09-08', '1969-10-01', 'adamd101', 'adamsdo01'),
 ('adamsge01', 1855, 1, 26, 'USA', 'MA', 'Worcester', 1920, 10, 11, 'USA', 'WA', 'Clarkston', 'George', 'Adams', 'George Henry', 175, 66.0, 'R', 'R', '1879-06-14', '1879-06-21', 'adamg102', 'adamsge01'),
 ('adamsgl01', 1947, 10, 4, 'USA', 'MA', 'Northbridge', None, None, None, None, None, None, 'Glenn', 'Adams', 'Glenn Charles', 180, 73.0, 'L', 'R', '1975-05-04', '1982-10-03', 'adamg101', 'adamsgl01'),
 ('adamshe01', 1928, 4, 14, 'USA', 'CA', 'Hollywood', 2012, 2, 1, 'USA', 'OK', 'Tulsa', 'Herb', 'Adams', 'Herbert Loren', 160, 69.0, 'L', 'L', '1948-09-17', '1950-08-30', 'adamh101', 'adamshe01'),
 ('adamsji01', 1868, None, None, 'USA', 'IL', 'East St. Louis', None, None, None, None, None, None, 'Jim', 'Adams', 'James J.', 148, 66.0, None, 'R', '1890-04-21', '1890-04-21', 'adamj101', 'adamsji01'),
 ('adamsjo01', 1877, 10, 28, 'USA', 'IL', 'Cowden', 1952, 10, 8, 'USA', 'MO', 'Bachelor', 'Joe', 'Adams', 'Joseph Edward', 190, 72.0, 'R', 'L', '1902-04-26', '1902-04-26', 'adamj102', 'adamsjo01'),
 ('adamsjo02', 1971, 7, 2, 'USA', 'CA', 'Lakewood', None, None, None, None, None, None, 'Joel', 'Adamson', 'Joel Lee', 185, 76.0, 'L', 'L', '1996-04-10', '1998-04-26', 'adamj001', 'adamsjo02'),
 ('adamska01', 1891, 8, 11, 'USA', 'GA', 'Columbus', 1967, 9, 17, 'USA', 'WA', 'Everett', 'Karl', 'Adams', 'Karl Tutwiler', 170, 74.0, 'R', 'R', '1914-04-19', '1915-09-23', 'adamk101', 'adamska01'),
 ('adamsla01', 1989, 11, 13, 'USA', 'OK', 'Talihina', None, None, None, None, None, None, 'Lane', 'Adams', 'Lane Weston', 220, 75.0, 'R', 'R', '2014-09-01', '2014-09-28', 'adaml001', 'adamsla01'),
 ('adamsma01', 1988, 8, 31, 'USA', 'PA', 'Philipsburg', None, None, None, None, None, None, 'Matt', 'Adams', 'Matthew James', 260, 75.0, 'L', 'R', '2012-05-20', '2016-10-02', 'adamm002', 'adamsma01'),
 ('adamsmi01', 1947, 9, 13, 'USA', 'CA', 'San Diego', None, None, None, None, None, None, 'Mike', 'Adamson', 'John Michael', 185, 74.0, 'R', 'R', '1967-07-01', '1969-05-07', 'adamm101', 'adamsmi01'),
 ('adamsmi02', 1948, 7, 24, 'USA', 'OH', 'Cincinnati', None, None, None, None, None, None, 'Mike', 'Adams', 'Robert Michael', 180, 69.0, 'R', 'R', '1972-09-10', '1978-07-25', 'adamm102', 'adamsmi02'),
 ('adamsmi03', 1978, 7, 29, 'USA', 'TX', 'Corpus Christi', None, None, None, None, None, None, 'Mike', 'Adams', 'Jon Michael', 210, 77.0, 'R', 'R', '2004-05-18', '2014-09-18', 'adamm001', 'adamsmi03'),
 ('adamsre01', 1921, 10, 7, 'USA', 'CA', 'Parlier', 2017, 1, 18, 'USA', 'CA', 'Fresno', 'Red', 'Adams', 'Charles Dwight', 185, 72.0, 'R', 'R', '1946-05-05', '1946-07-02', 'adamr101', 'adamsre01'),
 ('adamsri01', 1878, 12, 24, 'USA', 'TX', 'Paris', 1955, 3, 10, 'USA', 'TX', 'Paris', 'Rick', 'Adams', 'Reuben Alexander', 165, 72.0, 'L', 'L', '1905-07-13', '1905-09-29', 'adamr102', 'adamsri01'),
 ('adamsri02', 1959, 1, 21, 'USA', 'CA', 'Upland', 2011, 10, 28, 'USA', 'CA', 'Rancho Cucamonga', 'Ricky', 'Adams', 'Ricky Lee', 180, 74.0, 'R', 'R', '1982-09-15', '1985-10-05', 'adamr001', 'adamsri02'),
 ('adamsru01', 1980, 8, 30, 'USA', 'NC', 'Laurinburg', None, None, None, None, None, None, 'Russ', 'Adams', 'Russ Moore', 205, 72.0, 'L', 'R', '2004-09-03', '2009-06-30', 'adamr002', 'adamsru01'),
 ('adamsry01', 1987, 4, 21, 'USA', 'LA', 'New Orleans', None, None, None, None, None, None, 'Ryan', 'Adams', 'Ryan Scott', 185, 71.0, 'R', 'R', '2011-05-20', '2011-09-19', 'adamr003', 'adamsry01'),
 ('adamssp01', 1894, 8, 26, 'USA', 'PA', 'Zerbe', 1989, 2, 24, 'USA', 'PA', 'Pottsville', 'Sparky', 'Adams', 'Earl John', 151, 65.0, 'R', 'R', '1922-09-18', '1934-09-30', 'adams101', 'adamssp01'),
 ('adamssp02', 1898, 6, 21, 'USA', 'UT', 'Layton', 1970, 11, 24, 'USA', 'UT', 'Salt Lake City', 'Spencer', 'Adams', 'Spencer Dewey', 158, 69.0, 'L', 'R', '1923-04-22', '1927-10-02', 'adams102', 'adamssp02'),
 ('adamste01', 1973, 3, 6, 'USA', 'AL', 'Mobile', None, None, None, None, None, None, 'Terry', 'Adams', 'Terry Wayne', 180, 75.0, 'R', 'R', '1995-08-10', '2005-05-23', 'adamt001', 'adamste01'),
 ('adamswi01', 1890, 9, 27, 'USA', 'PA', 'Clearfield', 1937, 6, 18, 'USA', 'NY', 'Albany', 'Willie', 'Adams', 'James Irvin', 180, 76.0, 'R', 'R', '1912-06-30', '1919-09-06', 'adamw101', 'adamswi01'),
 ('adamswi02', 1972, 10, 8, 'USA', 'NM', 'Gallup', None, None, None, None, None, None, 'Willie', 'Adams', 'William Edward', 215, 79.0, 'R', 'R', '1996-06-11', '1997-08-14', 'adamw001', 'adamswi02'),
 ('adcocjo01', 1927, 10, 30, 'USA', 'LA', 'Coushatta', 1999, 5, 3, 'USA', 'LA', 'Coushatta', 'Joe', 'Adcock', 'Joseph Wilbur', 210, 76.0, 'R', 'R', '1950-04-23', '1966-10-01', 'adcoj101', 'adcocjo01'),
 ('adcocna01', 1988, 2, 25, 'USA', 'KY', 'Elizabethtown', None, None, None, None, None, None, 'Nathan', 'Adcock', 'Nathan Masler', 235, 76.0, 'R', 'R', '2011-03-31', '2015-07-26', 'adcon001', 'adcocna01'),
 ('addisbo01', 1925, 11, 6, 'USA', 'OH', 'Mineral', 2016, 11, 15, 'USA', 'OH', 'Mentor', 'Bob', 'Addis', 'Robert Gordon', 175, 72.0, 'L', 'R', '1950-09-01', '1953-06-12', 'addib101', 'addisbo01'),
 ('adducji01', 1959, 8, 9, 'USA', 'IL', 'Chicago', None, None, None, None, None, None, 'Jim', 'Adduci', 'James David', 200, 77.0, 'L', 'L', '1983-09-12', '1989-07-26', 'adduj001', 'adducji01'),

On the other hand, sqlalchemy plays nicely with pandas.

In [8]:
import pandas as pd

In [9]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python